/arq2/trab3/mips324k_sim/.idea/
/arq2/trab3/mips324k_sim/cmake-build-debug/
/arq2/trab3/mips324k_sim/src/parsers_ex/

/pss/.idea

/arq1/dist

/cg/__pycache__

/ord/trabalho01/.idea

/paa/trabalho02_2018/.vscode
