<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rbc_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>


        <!-- List of XML mapping files -->
        <mapping class="rbc.gerenciadores.gerenciador_motoristas.Motorista"/>
        <mapping class="rbc.gerenciadores.gerenciador_veiculos.Carreta"/>
        <mapping class="rbc.gerenciadores.gerenciador_veiculos.Cavalo"/>
        <mapping class="rbc.gerenciadores.gerenciador_veiculos.Despesas"/>
        <mapping class="rbc.gerenciadores.gerenciador_encargo.Encargo"/>
        <mapping class="rbc.gerenciadores.gerenciador_encargo.ListaEncargos"/>
        <mapping class="rbc.gerenciadores.gerenciador_estoque.Estoque"/>
        <mapping class="rbc.gerenciadores.gerenciador_depositos.Depositos"/>
        <mapping class="rbc.gerenciadores.gerenciador_depositos.ListaDepositos"/>
        <mapping class="rbc.gerenciadores.gerenciador_balancoMensal.BalancoMensal"/>
        <mapping class="rbc.gerenciadores.gerenciador_balancoMensal.ListaBalancoMensal"/>




    </session-factory>
</hibernate-configuration>


